body{
    background-color: teal;
}

body h1{
    text-align: center;
    color: #fff;
    border-bottom: 3px solid rgb(221, 0, 0);
    padding-bottom: 10px;
    width: 80%;
    margin: 200px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}