li{
    list-style: none;
}
a{
    text-decoration: none;
}

.main{
    height: 2100px;
    width: 96%;
    padding-top: 310px;
    margin: 0 auto;
    font-family: monospace;
    background-color: #fff;
}

.about{
    margin: 50px 0 50px 0;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 9;

}
.abard{
    width: 33%;
    height: 350px;
    float: left;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 3px 30px rgb(218, 218, 218);
}

.abard h3{
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'courier new';
}

.ar{
    width: 70%;
    padding: 20px 13% 0 15%;
    height: 170px;
}

.abard p{
    margin: 7px 10%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;;
    font-family: 'short stack';
    color: rgb(0, 100, 53);
}

.board{
    width: 66.2%;
    height: 350px;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 3px 30px rgb(218, 218, 218);
}

.bpic{
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    border-radius: 5px;
}

.bpich{
    width: 40%;
    float: left;
}

.start{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 15px;
    width: 40%;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 4px gray;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 110px;
    background-color: black;
    color: #fff;
}

.start:hover{
    background-color: rgb(252, 29, 73);
}

.start:active{
    transition: all 0.7s;
    box-shadow: none;
    margin-top: 53px;
}

.boards h3{
    font-size: 30px;
    letter-spacing: 4px;
    margin: 20px auto 10px auto;
    text-align: center;
}

.blist1{
    width: 30%;
    height: 80%;
    float: left;
}

.blist2{
    width: 30%;
    height: 80%;
    float: right;
}
.boards li{
    padding-bottom: 5px;
}

.boards a{
    font-size: 22px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color: green;
}
.boards li:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px green;
}